venv
.venv
__pycache__/
*.pyc[cod]
backend/socialdistribution/feed/__pycache__/
backend/socialdistribution/login/__pycache__/
backend/socialdistribution/post/__pycache__/
backend/socialdistribution/socialdistribution/__pycache__/
