@tailwind base;
@tailwind components;
@tailwind utilities;



/* root */

:root {
  margin: 0px;
  padding: 0px;
}



/* Basic body styles */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style main sections */
section {
  padding: 20px;
}

/* Style the site title */
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Style the text area for making a post */
.make-post textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style post button */
.make-post button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style posts */
.post {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Style user info in posts */
.post-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style usernames */
.post-user-info span {
  font-weight: bold;
}

/* Style post content */
.post p {
  margin-top: 10px;
}

.not-liked-button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
}

.liked-button {
  background-color: #33e7ff;
  color: #fff;
}

.comment-button,
.share-button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.view-button {
  background-color: rgba(0, 0, 0, 0);
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 2px 5px 8px;
  border-radius: 5px;
}

.view-button-img {
  width: 35px;
}

.not-liked-button,
.liked-button,
.comment-button,
.share-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}

.post-container {
  position: relative;
}

.privacy-status {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.privacy-private {
  color: #000;
}

.privacy-unlisted {
  color: #000;
}

.privacy-public {
  color: #000;
}

.share-options-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-options-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.share-options-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.share-option-button {
  background-color: #395B64;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.share-option-button:hover {
  background-color: #5C7F88;
}